@use "mixins";
@use "variables" as var;

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
  
}

nav {

  background-color: var.$primarycolor;
  height: 5em;
  display: flex;
  margin-bottom: 1em;

  ul {
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    

    li{ 
      background-color: aliceblue;
      list-style: none;
      padding: 0.5em;
      border: solid  2px black;
      border-radius: 1em;
      width: 3em; 
      

    }
  }
}

.listWrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  
  flex-wrap: wrap;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    padding: 1em;
  }
}

a {
  font-weight: 500;
  color: black;
  

  text-decoration: none;
}
a:hover {
  color: var.$primarycolor;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var.$primarycolor;
}


.cover {
  padding: 1em;
  width: 400px;
}


.shortDesc {
  display: flex;
}

.showAnimal {
  width: 40%;
  
}


.showingMore {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}