.notFed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightblue;

    img {

        width: 300px;
        height: 200px;
        object-fit: contain;

    }
}

;

.fed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(136, 234, 136);

    img {

        width: 300px;
        height: 200px;
        object-fit: contain;

    }
}

;